<div class="team">
  <h1>¿Cómo estamos organizados?</h1>
  <div class="team__content">
    <div class="team__content-box">
      <div class="team__content-thumbnail">
        <label>Daniel</label>
        <img alt="jaqueline" src="../../../assets/img/daniel.png" />
      </div>
    </div>
    <div class="team__content-box">
      <section class="team__content-box-formacion">
        <div class="team__content-thumbnail">
          <label>Jaqueline</label>
          <img alt="jaqueline" src="../../../assets/img/daniel.png" />
        </div>
        <div class="team__content-thumbnail">
          <label>Cristina</label>
          <img alt="jaqueline" src="../../../assets/img/daniel.png" />
        </div>
        <div class="team__content-thumbnail">
          <label>Marixa</label>
          <img alt="jaqueline" src="../../../assets/img/daniel.png" />
        </div>
        <div class="team__content-thumbnail">
          <label>Gabriela</label>
          <img alt="jaqueline" src="../../../assets/img/daniel.png" />
        </div>
        <div class="team__content-thumbnail">
          <label>Camilo</label>
          <img alt="jaqueline" src="../../../assets/img/daniel.png" />
        </div>
        <div class="team__content-thumbnail">
          <label>Sindy</label>
          <img alt="jaqueline" src="../../../assets/img/daniel.png" />
        </div>
      </section>
      <section class="team__content-box-calidad">
        <div class="team__content-thumbnail">
          <img alt="jaqueline" src="../../../assets/img/daniel.png" />
          <label>Catalina</label>
        </div>
        <div class="team__content-thumbnail">
          <img alt="jaqueline" src="../../../assets/img/daniel.png" />
          <label>Claudia</label>
        </div>
        <div class="team__content-thumbnail">
          <img alt="jaqueline" src="../../../assets/img/daniel.png" />
          <label>Yuli</label>
        </div>
        <div class="team__content-thumbnail">
          <img alt="jaqueline" src="../../../assets/img/daniel.png" />
          <label>Bridgi</label>
        </div>
        <div class="team__content-thumbnail">
          <img alt="jaqueline" src="../../../assets/img/daniel.png" />
          <label>Yesica</label>
        </div>
        <div class="team__content-thumbnail">
          <img alt="jaqueline" src="../../../assets/img/daniel.png" />
          <label>Katherine</label>
        </div>
        <div class="team__content-thumbnail">
          <img alt="jaqueline" src="../../../assets/img/daniel.png" />
          <label>Brayan</label>
        </div>
      </section>
    </div>
  </div>
</div>
