<div class="team">
  <h1>¿Cómo estamos organizados?</h1>
  <div class="team__content">
    <div class="team__content-box">
      <div class="team__content-thumbnail">
        <label>Daniel</label>
        <img alt="jaqueline" src="../../../assets/img/daniel.png" />
        <p>Líder del equipo de calidad y formación</p>
        <p><small>Me apasiona lo que hago</small></p>
      </div>
    </div>
    <div class="team__content-box">
      <section class="team__content-box-formacion">
        <div class="card">
          <div class="card__left-info">
            <label class="label age">24 años</label>
            <img alt="jaqueline" src="../../../assets/img/daniel.png" />
            <label class="label points">Jaque</label>
          </div>
          <div class="card__right-info">
            <h1>Jaqueline</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Apoyo en los equipos Exámenes y USC.</p>
            <small>"Me encanta leer, soy lo máximo"</small>
          </div>
        </div>
        <div class="card">
          <div class="card__left-info">
            <label class="label age">29 años</label>
            <img alt="jaqueline" src="../../../assets/img/daniel.png" />
            <label class="label points">Cris</label>
          </div>
          <div class="card__right-info">
            <h1>Cristina</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Apoyo en los equipos Exámenes y USC.</p>
            <small>"Me encanta leer, soy lo máximo"</small>
          </div>
        </div>
        <div class="card">
          <div class="card__left-info">
            <label class="label age">22 años</label>
            <img alt="jaqueline" src="../../../assets/img/daniel.png" />
            <label class="label points">Mari</label>
          </div>
          <div class="card__right-info">
            <h1>Marixa</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Apoyo en los equipos Exámenes y USC.</p>
            <small>"Me encanta leer, soy lo máximo"</small>
          </div>
        </div>
        <div class="card">
          <div class="card__left-info">
            <label class="label age">25 años</label>
            <img alt="jaqueline" src="../../../assets/img/daniel.png" />
            <label class="label points">Gabi</label>
          </div>
          <div class="card__right-info">
            <h1>Gabriela</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Apoyo en los equipos Exámenes y USC.</p>
            <small>"Me encanta leer, soy lo máximo"</small>
          </div>
        </div>
        <div class="card">
          <div class="card__left-info">
            <label class="label age">21 años</label>
            <img alt="jaqueline" src="../../../assets/img/daniel.png" />
            <label class="label points">Cami</label>
          </div>
          <div class="card__right-info">
            <h1>Camilo</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Apoyo en los equipos Exámenes y USC.</p>
            <small>"Me encanta leer, soy lo máximo"</small>
          </div>
        </div>
        <div class="card">
          <div class="card__left-info">
            <label class="label age">22 años</label>
            <img alt="jaqueline" src="../../../assets/img/daniel.png" />
            <label class="label points">Flaca</label>
          </div>
          <div class="card__right-info">
            <h1>Sindy</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Apoyo en los equipos Exámenes y USC.</p>
            <small>"Me encanta leer, soy lo máximo"</small>
          </div>
        </div>
      </section>
      <section class="team__content-box-calidad">
        <div class="card">
          <div class="card__left-info">
            <label class="label age">35 años</label>
            <img alt="jaqueline" src="../../../assets/img/daniel.png" />
            <label class="label points">Cata</label>
          </div>
          <div class="card__right-info">
            <h1>Catalina</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Apoyo en los equipos Exámenes y USC.</p>
            <small>"Me encanta leer, soy lo máximo"</small>
          </div>
        </div>
        <div class="card">
          <div class="card__left-info">
            <label class="label age">20 años</label>
            <img alt="jaqueline" src="../../../assets/img/daniel.png" />
            <label class="label points">Clau</label>
          </div>
          <div class="card__right-info">
            <h1>Claudia</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Apoyo en los equipos Exámenes y USC.</p>
            <small>"Me encanta leer, soy lo máximo"</small>
          </div>
        </div>
        <div class="card">
          <div class="card__left-info">
            <label class="label age">24 años</label>
            <img alt="jaqueline" src="../../../assets/img/daniel.png" />
            <label class="label points">Yul</label>
          </div>
          <div class="card__right-info">
            <h1>Yuli</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Apoyo en los equipos Exámenes y USC.</p>
            <small>"Me encanta leer, soy lo máximo"</small>
          </div>
        </div>
        <div class="card">
          <div class="card__left-info">
            <label class="label age">20 años</label>
            <img alt="jaqueline" src="../../../assets/img/daniel.png" />
            <label class="label points">Mona</label>
          </div>
          <div class="card__right-info">
            <h1>Bridgi</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Apoyo en los equipos Exámenes y USC.</p>
            <small>"Me encanta leer, soy lo máximo"</small>
          </div>
        </div>
        <div class="card">
          <div class="card__left-info">
            <label class="label age">20 años</label>
            <img alt="jaqueline" src="../../../assets/img/daniel.png" />
            <label class="label points">Yess</label>
          </div>
          <div class="card__right-info">
            <h1>Yesica</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Apoyo en los equipos Exámenes y USC.</p>
            <small>"Me encanta leer, soy lo máximo"</small>
          </div>
        </div>
        <div class="card">
          <div class="card__left-info">
            <label class="label age">22 años</label>
            <img alt="jaqueline" src="../../../assets/img/daniel.png" />
            <label class="label points">Kathe</label>
          </div>
          <div class="card__right-info">
            <h1>Katherine</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Apoyo en los equipos Exámenes y USC.</p>
            <small>"Me encanta leer, soy lo máximo"</small>
          </div>
        </div>
        <div class="card">
          <div class="card__left-info">
            <label class="label age">28 años</label>
            <img alt="jaqueline" src="../../../assets/img/daniel.png" />
            <label class="label points">Brayan</label>
          </div>
          <div class="card__right-info">
            <h1>Brayan</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Apoyo en los equipos Exámenes y USC.</p>
            <small>"Me encanta leer, soy lo máximo"</small>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
