<div class="notes">
  <div class="notes__content">
    <section class="notes__content-chart1">
      <h1>Mi nota a hoy es</h1>
      <app-bars-chart [notify]="notifyBars"></app-bars-chart>
    </section>
    <section class="notes__content-chart2">
      <h1>Mi solución</h1>
      <app-columns-chart [notify]="notifyColumns"></app-columns-chart>
    </section>
    <section class="notes__content-table">
      <h1>Mis últimas evaluaciones tienen estas observaciones</h1>
      <table>
        <thead class="desktop">
          <tr>
            <th>Nota Evaluación</th>
            <th>Observaciones</th>
            <th>Aspectos positivos</th>
            <th>Oportunidades de mejora</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of userData | slice:0:2;">
            <td class="note">
              <div class="desktop">{{d['NOTA EVALUACION']}}</div>
              <div class="mobile">
                <section>
                  <label><strong>Nota Evaluación: </strong></label> {{d['NOTA EVALUACION']}}
                </section>
                <section>
                  <label><strong>Observaciones: </strong></label> {{d['Observaciones']}}
                </section>
                <section>
                  <label><strong>Aspectos positivos: </strong></label> {{d['Observaciones - Aspectos Positivos']}}
                </section>
                <section>
                  <label><strong>Oportunidades de mejora: </strong></label> {{d['Observaciones - Oportunidades de Mejora']}}
                </section>
              </div>
            </td>
            <td class="desktop">{{d['Observaciones']}}</td>
            <td class="desktop">{{d['Observaciones - Aspectos Positivos']}}</td>
            <td class="desktop">{{d['Observaciones - Oportunidades de Mejora']}}</td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
</div>
