<div class="login">
  <div class="login__content middle-box text-center loginscreen  animated fadeInDown">
    <div>
      <div>
        <h1 class="logo-name">EMA</h1>
      </div>
      <h3>Bienvenidos a EMA</h3>
      <small>Diseñado para apoyarte en tu proceso de formación.</small>
      <p><small>Inicia sesión para ver más.</small></p>
      <form class="m-t" role="form" action="#">
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Correo" required="">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Contraseña" required="">
        </div>
        <button type="submit" class="btn btn-info block full-width m-b">Entrar</button>

        <!--<a href="#"><small>Forgot password?</small></a>
        <p class="text-muted text-center"><small>Do not have an account?</small></p>
        <a class="btn btn-sm btn-white btn-block" href="#">Create an account</a>-->
      </form>
      <p class="m-t"> <small>Powered by @warrdnez, todos los derechos reservados &copy; 2021</small> </p>
    </div>
  </div>
</div>
